-----username/password 
	-----keep track of watched videos
	-----keep track of quiz scores
-----tutoring videos
-----worksheets/learning material
-----pdf in browser
-----about page
-----online tutoring links
-----no interaction
up to user to see how public he wants to be
-----picture avatar
-----no restrictions on videos

-----refactor user to student
student profile page
	-----go to it after login
	recently viewed videos and attempted quizzes & grades
	tutors contacted & sessions done
tutor profile page
	-----go to it after login
	how much to charge students
	sessions completed
admin profile page
	-----go to it after login
	top quizzes
	any notifications of changes, tutor requests, etc.
Links page
	now navigation/site map
	search bar (with autocomplete)
-----Quizzes
	-----only fill-in-the-blanks
-----Tutoring sessions
Tutor profile
	-----signup easily for free
	hidden until approved by admin

Certifications have quiz grade and status (0 = requested, 1 = confirmed by admin)
Tutors need to upload resume

Admin.create(name: "Ryan K", email: "ryank@mail.com", password: "ryanryan", password_confirmation: "ryanryan")