<% provide(:title, "All Students") %>
<% content_for :pageBar do %>
	<%= link_to "Students", students_path %>
<% end %>

<% @students.each do |student| %>
	<p><%= gravatar(student, size: 25)%><%= link_to student.firstName, student %></p>
<% end %>