<%= link_to "#{text}", quiz_path(difficulty: "#{diff}") %>
<% if userSignedIn? %>
	<% userGrades = quiz.grades.where(user_id: currentUser.id, difficulty: "#{diff}")%>
	<% if !userGrades.first.nil?%>
		<ul>
			<li>Best score: <%= userGrades.order(average: :desc).first.average %>%</li>
			<li>Last score: <%= userGrades.order(created_at: :desc).first.average %>%</li>
			<li>Average score: <%= userGrades.all.average(:average).round(2) %>%</li>
		</ul>
	<% end %>
<% end %>