<%= link_to "#{text}", quiz_path(difficulty: "#{diff}") %>
<% if studentSignedIn? %>
	<% studentGrades = quiz.grades.where(student_id: currentStudent.id, difficulty: "#{diff}")%>
	<% if !studentGrades.first.nil?%>
		<ul>
			<li>Best score: <%= studentGrades.order(average: :desc).first.average %>%</li>
			<li>Last score: <%= studentGrades.order(created_at: :desc).first.average %>%</li>
			<li>Average score: <%= studentGrades.all.average(:average).round(2) %>%</li>
		</ul>
	<% end %>
<% end %>