/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require magnific-popup
 *= require jquery.datetimepicker
 *= require select2
 */

*
{
    margin: 0;
}

body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #d3d3d3;
}

#navigation
{
    padding-left: 150px;
    padding-right: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: white;
    background-color: #404040;
    a
    {
        text-decoration: none;
    }
    a:visited
    {
        color: white;
    }
    a:link
    {
        color: white;
    }
    a:hover
    {
        color: gray;
    }
    ul
    {
        position: relative;
        display: block;
        font-size: 18px;
        float: right;
        z-index: 1;
        li
        {
            float: left;
            padding: 5px 5px 0 5px;

            display: block;
            &:hover > ul
            {
                display: inline-block;
            }
            ul
            {
                float: none;
                padding: 0;
                margin: 0 0 0 -2px;
                display: none;
                background: #404040;
                position: absolute;
                border-radius: 0 0 5px 5px;
                li
                {
                    float: none;
                    position: relative;
                    margin-top: 5px;
                    ul
                    {
                        position: absolute;
                        left: 100%;
                        top: 0%;
                        white-space: nowrap;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

#pageBox
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80%;
    background-color: white;
    min-height: 100%;
    box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.4);
    border-radius: 0 0 10px 10px;
    position: relative;
    .pagebar
    {
        margin-left: 20px;
    }
    .content
    {
        max-width: 100%;
    }
    .footer
    {
        font-size: 12px;
        margin-left: 20px;
    }
}

.popup
{
    position: relative;
    background: white;
    width: auto;
    max-width: 550px;
    margin: auto;
    color: black;
    padding: 20px;
}

.select2.multiple
{
    width: 100%;
    margin: 10px 0;
}
