*
{
	margin: 0;
}

body
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#navigation
{
	padding-left: 100px;
	padding-right: 150px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	color: white;
	background-color: #404040;

	a
	{
		text-decoration: none;
	}
	a:visited
	{
		color: white;
	}
	a:link
	{
		color: white;
	}
	a:hover
	{
		color: grey;
	}
	ul
	{
		position: relative;
		display: block;
		font-size: 18px;
		float: right;
		li
		{
			float: left;
			padding: 0 5px;

			display: block;
			ul
			{
				float: none;
				padding: 0;
				margin: 0 0 0 -2px;
				display: none;
				background: #404040;
				position: relative;
				li
				{
					float: none;
					position: relative;
					ul
					{
						position: absolute;
						left: 100%;
						top: 0%;
						white-space: nowrap;
					}
				}
			}
		}
		li:hover > ul
		{
			display: table;
		}
	}
}

#pagebar
{
	margin-left: 60px;
}

#content
{
	margin: 20px 60px;
}

#footer
{
	font-size: 12px;
	bottom: 0;
	position: absolute;
	padding-bottom: 25px;
}
