.bio
{
    width: 20%;
    float: left;
    .name
    {
        font-size: 30px;
    }
    .privilege
    {
        font-size: 20px;
    }
}

.main
{
    //margin-left: 20px;
    display: inline;
    width: 80%;
    float: right;
    .profileBox
    {
        border: 1px solid #777;
        border-radius: 8px;
        margin: 0;
    }
    &>div:nth-child(odd)
    {
        width: 50%;
        float: left;
    }
    &>div:nth-child(even)
    {
        width: 49%;
        float: right;
    }
}
