.bio
{
    .name
    {
        font-size: 25px;
    }
    .privilege
    {
        font-size: 20px;
    }
}

.main
{

    .profileBox
    {
        margin-top: 30px;
        border: 1px solid #777;
        border-radius: 8px;
        padding: 10px;
    }
}
